.btn {
  border-width: 2px;
}
body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.6rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 5.75rem;
}
.display-2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 3.75rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 3.68rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.22rem;
    font-size: calc( 2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.26rem + (4.6 - 2.26) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #00ff72 !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ff9966 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #00ff72 !important;
  border-color: #00ff72 !important;
  color: #000000 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #00a84b !important;
  border-color: #00a84b !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #000000 !important;
  background-color: #00a84b !important;
  border-color: #00a84b !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff5f0f !important;
  border-color: #ff5f0f !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: #00ff72;
  color: #00ff72;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #00a84b !important;
  background-color: transparent!important;
  border-color: #00a84b !important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #000000 !important;
  background-color: #00ff72 !important;
  border-color: #00ff72 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: #ff6666;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: #ff0f0f !important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: #47b5ed;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: #148cca !important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: #40b0bf;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: #2a747e !important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: #ffe161;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: #ffd10a !important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: #ff9966;
  color: #ff9966;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff5f0f !important;
  background-color: transparent!important;
  border-color: #ff5f0f !important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ff9966 !important;
  border-color: #ff9966 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: #232323;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: #000000 !important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: #fafafa;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: #cfcfcf !important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #00ff72 !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ff9966 !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #009944 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff5500 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):not(.navbar-caption) {
  transition: 0.2s;
  position: relative;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0 1.2em;
}
.nav-tabs .nav-link.active {
  color: #00ff72;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ff9966;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #00ff72;
  border-color: #00ff72;
  color: #00190b;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #00ff72;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ccffe3;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
#scrollToTop a {
  border-radius: 100px;
}
.form-control {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #00ff72 !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #00ff72;
}
/* Forms */
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #00ff72;
  color: #000000;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #00ff72;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #00ff72;
  border-bottom-color: #00ff72;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #000000 !important;
  background-color: #00ff72 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2300ff72' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-tCDocLktzl .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tCDocLktzl .nav-item:focus,
.cid-tCDocLktzl .nav-link:focus {
  outline: none;
}
.cid-tCDocLktzl .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.3rem 1.5rem;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tCDocLktzl .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-tCDocLktzl .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-tCDocLktzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-tCDocLktzl .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-tCDocLktzl .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-tCDocLktzl .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-tCDocLktzl .navbar {
  min-height: 77px;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
  display: -webkit-flex;
  -webkit-align-items: center;
  background: none;
  max-height: 100vh;
  display: flex;
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-tCDocLktzl .navbar .mbr-overlay {
  z-index: -1;
  transition: all 0.3s;
  background: #000000;
  background: linear-gradient(#14cc66, #000000);
}
.cid-tCDocLktzl .navbar.opened .mbr-overlay {
  transition: all 0.3s;
  background: #000000 !important;
  background: linear-gradient(#14cc66, #000000) !important;
}
.cid-tCDocLktzl .navbar .dropdown-item {
  padding: 0.25rem 1.5rem;
}
.cid-tCDocLktzl .navbar .navbar-collapse {
  width: 100%;
  -webkit-flex-basis: auto;
  flex-basis: auto;
  -webkit-justify-content: center;
  justify-content: center;
  z-index: 1;
  padding: 0.5rem 1rem;
}
@media (max-width: 991px) {
  .cid-tCDocLktzl .navbar .navbar-collapse {
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }
}
.cid-tCDocLktzl .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
.cid-tCDocLktzl .navbar.collapsed.opened .navbar-collapse {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
.cid-tCDocLktzl .navbar.collapsed .navbar-collapse.show,
.cid-tCDocLktzl .navbar.collapsed .navbar-collapse.collapsing {
  transition: all 0.3s linear;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tCDocLktzl .navbar.collapsed .navbar-collapse.show .brand-container,
.cid-tCDocLktzl .navbar.collapsed .navbar-collapse.collapsing .brand-container {
  -webkit-order: -1;
  order: -1;
}
.cid-tCDocLktzl .navbar.collapsed .dropdown-menu {
  background: transparent !important;
}
.cid-tCDocLktzl .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-tCDocLktzl .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-tCDocLktzl .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
  margin-left: 0.25rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-tCDocLktzl .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-tCDocLktzl .navbar.collapsed .navbar-buttons {
  margin: 0;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-tCDocLktzl .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: 0.25rem 1.5rem;
  text-align: center;
}
.cid-tCDocLktzl .navbar.collapsed .right-menu,
.cid-tCDocLktzl .navbar.collapsed .left-menu {
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
@media (max-width: 991px) {
  .cid-tCDocLktzl .navbar .navbar-collapse.show,
  .cid-tCDocLktzl .navbar .navbar-collapse.collapsing {
    transition: all 0.3s linear;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tCDocLktzl .navbar .navbar-collapse.show .brand-container,
  .cid-tCDocLktzl .navbar .navbar-collapse.collapsing .brand-container {
    -webkit-order: -1;
    order: -1;
  }
  .cid-tCDocLktzl .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-tCDocLktzl .navbar .dropdown-menu {
    background: transparent !important;
  }
  .cid-tCDocLktzl .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-tCDocLktzl .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-tCDocLktzl .navbar .dropdown-menu .dropdown-toggle[data-toggle='dropdown-submenu']:after {
    margin-left: 0.25rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-tCDocLktzl .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-tCDocLktzl .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-tCDocLktzl .navbar .navbar-buttons {
    margin: 0;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-tCDocLktzl .navbar .dropdown-menu .dropdown-item {
    padding: 0.25rem 1.5rem;
    text-align: center;
  }
  .cid-tCDocLktzl .navbar .right-menu,
  .cid-tCDocLktzl .navbar .left-menu {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
}
.cid-tCDocLktzl .navbar.navbar-short {
  min-height: 60px;
}
.cid-tCDocLktzl .navbar.navbar-short .mbr-overlay {
  background: #000000 !important;
  background: linear-gradient(#14cc66, #000000) !important;
}
.cid-tCDocLktzl .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-tCDocLktzl .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-tCDocLktzl .navbar-brand {
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all 0.3s;
  word-break: break-word;
  z-index: 1;
}
.cid-tCDocLktzl .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-tCDocLktzl .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-tCDocLktzl .dropdown-item.active,
.cid-tCDocLktzl .dropdown-item:active {
  background-color: transparent;
}
.cid-tCDocLktzl .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-tCDocLktzl .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-tCDocLktzl .nav-dropdown .link.dropdown-toggle[aria-expanded='true'] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-tCDocLktzl .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-tCDocLktzl .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-tCDocLktzl .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-tCDocLktzl ul.navbar-nav {
  display: -webkit-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .cid-tCDocLktzl ul.navbar-nav {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
.cid-tCDocLktzl .navbar-buttons {
  margin-left: auto;
}
.cid-tCDocLktzl button.navbar-toggler {
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all 0.2s;
  position: relative;
  margin: 1rem;
  -webkit-align-self: center;
  align-self: center;
}
.cid-tCDocLktzl button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #00ff72;
}
.cid-tCDocLktzl button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tCDocLktzl button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCDocLktzl button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tCDocLktzl button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tCDocLktzl nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCDocLktzl nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all 0.25s;
  width: 20px;
  right: -2px;
}
.cid-tCDocLktzl nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all 0.25s;
  width: 20px;
  left: -2px;
}
.cid-tCDocLktzl nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tCDocLktzl a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-tCDocLktzl .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: 0.5rem;
}
.cid-tCDocLktzl .right-menu,
.cid-tCDocLktzl .left-menu {
  -webkit-flex-basis: 50%;
  flex-basis: 50%;
}
.cid-tCDocLktzl .left-menu .navbar-nav {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-tCDocLktzl .left-menu .navbar-nav ul {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-tCDocLktzl .brand-container {
  padding: 0 2rem;
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
}
.cid-tCDocLktzl .menu-top {
  text-align: center;
  width: 100%;
  background-color: #14cc66;
  padding: 0.5rem 0;
  color: #14cc66;
}
.cid-tCDocLktzl .full-link {
  width: 100%;
  font-size: 0;
  z-index: 2;
}
.cid-tCDocLktzl .card-wrapper {
  z-index: 3;
}
.cid-tCDocLktzl .popup-btn.card-wrapper {
  z-index: 1 !important;
}
@media (max-width: 991px) {
  .cid-tCDocLktzl .navbar-collapse {
    padding-top: 0;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-tCDocLktzl .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-tCKQi4f2QV {
  padding-top: 6rem;
  padding-bottom: 6rem;
  background-image: url("../../../assets/images/pexels-caleb-oquendo-14364626-2000x1333.jpg");
}
.cid-tCKQi4f2QV .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCKQi4f2QV .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCKQi4f2QV .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCKQi4f2QV .image-wrap img {
    display: block;
    margin: auto;
    width: 50%;
  }
}
.cid-tCKQi4f2QV .mbr-section-title {
  color: #ffffff;
}
.cid-tCKQi4f2QV .mbr-text,
.cid-tCKQi4f2QV .mbr-section-btn {
  color: #ffffff;
}
.cid-tCDpyV36pr {
  padding-top: 2rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tCDpyV36pr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCDpyV36pr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDpyV36pr .image-wrap img {
  width: 100%;
}
@media (min-width: 992px) {
  .cid-tCDpyV36pr .image-wrap img {
    display: block;
    margin: auto;
    width: 40%;
  }
}
.cid-tCDpyV36pr .mbr-section-title {
  color: #14cc66;
}
.cid-tCDpyV36pr .mbr-text,
.cid-tCDpyV36pr .mbr-section-btn {
  color: #ffffff;
}
.cid-tCDoyOU9wG {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tCDoyOU9wG img {
  width: 120px;
  margin: auto;
}
.cid-tCDoyOU9wG .card {
  transition: all 0.3s;
  height: fit-content;
  padding: 1rem 0;
  opacity: 0.7;
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-tCDoyOU9wG .card {
    max-width: 12.5%;
  }
}
.cid-tCDoyOU9wG .mbr-section-title {
  color: #14cc66;
}
.cid-tCDoyOU9wG .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tCDoyOU9wG .mbr-text {
  color: #ffffff;
}
.cid-tFVyAIVYX0 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #000000;
}
.cid-tFVyAIVYX0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFVyAIVYX0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFVyAIVYX0 .item {
  padding-bottom: 2rem;
}
.cid-tFVyAIVYX0 .item-wrapper {
  position: relative;
}
.cid-tFVyAIVYX0 .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tFVyAIVYX0 .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tFVyAIVYX0 .carousel-control,
.cid-tFVyAIVYX0 .close {
  background: #1b1b1b;
}
.cid-tFVyAIVYX0 .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tFVyAIVYX0 .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tFVyAIVYX0 .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tFVyAIVYX0 .carousel-control-next span {
  margin-left: 5px;
}
.cid-tFVyAIVYX0 .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tFVyAIVYX0 .close::before {
  content: '\e91a';
}
.cid-tFVyAIVYX0 .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tFVyAIVYX0 .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tFVyAIVYX0 .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tFVyAIVYX0 .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tFVyAIVYX0 .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tFVyAIVYX0 .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tFVyAIVYX0 .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tFVyAIVYX0 .carousel-indicators li.active,
.cid-tFVyAIVYX0 .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tFVyAIVYX0 .carousel-indicators li::after,
.cid-tFVyAIVYX0 .carousel-indicators li::before {
  content: none;
}
.cid-tFVyAIVYX0 .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tFVyAIVYX0 .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tFVyAIVYX0 .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tFVyAIVYX0 .carousel-indicators {
    display: none;
  }
}
.cid-tFVyAIVYX0 .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tFVyAIVYX0 .carousel-inner > .active {
  display: block;
}
.cid-tFVyAIVYX0 .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tFVyAIVYX0 .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tFVyAIVYX0 .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tFVyAIVYX0 .carousel-control,
  .cid-tFVyAIVYX0 .carousel-indicators,
  .cid-tFVyAIVYX0 .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tFVyAIVYX0 .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tFVyAIVYX0 .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tFVyAIVYX0 .carousel-indicators .active,
.cid-tFVyAIVYX0 .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tFVyAIVYX0 .carousel-indicators .active {
  background: #fff;
}
.cid-tFVyAIVYX0 .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tFVyAIVYX0 .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tFVyAIVYX0 .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tFVyAIVYX0 .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tFVyAIVYX0 .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tFVyAIVYX0 .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tFVyAIVYX0 .carousel {
  width: 100%;
}
.cid-tFVyAIVYX0 .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tFVyAIVYX0 .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tFVyAIVYX0 .modal.fade .modal-dialog,
.cid-tFVyAIVYX0 .modal.in .modal-dialog {
  transform: none;
}
.cid-tFVyAIVYX0 .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tFVyAIVYX0 H6 {
  text-align: center;
  color: #14cc66;
}
.cid-tFVyAIVYX0 H3 {
  color: #14cc66;
}
.cid-tFVyAIVYX0 H4 {
  color: #ffffff;
}
.cid-tHJ2tn5rnB {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #14cc66;
}
.cid-tHJ2tn5rnB .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ2tn5rnB .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHJ1W4q7x4 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-tHJ1W4q7x4 .line {
  background-color: #14cc66;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-tHJ1W4q7x4 .mbr-text {
  color: #000000;
}
.cid-tFYRWTvhyT {
  padding-top: 4rem;
  padding-bottom: 6rem;
  background-color: #fafafa;
}
.cid-tFYRWTvhyT .mbr-fallback-image.disabled {
  display: none;
}
.cid-tFYRWTvhyT .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tFYRWTvhyT .card:not(:nth-last-child(1)) {
  margin-bottom: 2rem;
}
.cid-tFYRWTvhyT .card-wrapper {
  background-color: #ffffff;
  border-radius: 4px;
}
.cid-tFYRWTvhyT .image-wrapper img {
  width: 100%;
  object-fit: cover;
}
.cid-tFYRWTvhyT .social-row .soc-item {
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  margin-right: 0.6rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 2px solid #6592e6;
  transition: all 0.3s;
}
.cid-tFYRWTvhyT .social-row .soc-item .mbr-iconfont {
  display: flex;
  justify-content: center;
  align-content: center;
  color: #6592e6;
  font-size: 1.5rem;
  transition: all 0.3s;
}
.cid-tFYRWTvhyT .social-row .soc-item:hover {
  background-color: #6592e6;
}
.cid-tFYRWTvhyT .social-row .soc-item:hover .mbr-iconfont {
  color: #ffffff;
}
@media (max-width: 767px) {
  .cid-tFYRWTvhyT .card-box {
    padding: 1rem;
  }
}
@media (min-width: 768px) {
  .cid-tFYRWTvhyT .card-box {
    padding-right: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tFYRWTvhyT .card-box {
    padding-left: 2rem;
    padding-right: 4rem;
  }
}
.cid-tFYRWTvhyT .card-title {
  color: #000000;
}
.cid-tHJ8kJGt9W {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #14cc66;
}
.cid-tHJ8kJGt9W .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ8kJGt9W .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDkcQC7dN {
  padding-top: 3rem;
  padding-bottom: 0rem;
  background-color: #fafafa;
}
.cid-tCDkcQC7dN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCDkcQC7dN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDkcQC7dN .item {
  padding-bottom: 2rem;
}
.cid-tCDkcQC7dN .item-wrapper {
  position: relative;
}
.cid-tCDkcQC7dN .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tCDkcQC7dN .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tCDkcQC7dN .carousel-control,
.cid-tCDkcQC7dN .close {
  background: #1b1b1b;
}
.cid-tCDkcQC7dN .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tCDkcQC7dN .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tCDkcQC7dN .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tCDkcQC7dN .carousel-control-next span {
  margin-left: 5px;
}
.cid-tCDkcQC7dN .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tCDkcQC7dN .close::before {
  content: '\e91a';
}
.cid-tCDkcQC7dN .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tCDkcQC7dN .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tCDkcQC7dN .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tCDkcQC7dN .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tCDkcQC7dN .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tCDkcQC7dN .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tCDkcQC7dN .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tCDkcQC7dN .carousel-indicators li.active,
.cid-tCDkcQC7dN .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tCDkcQC7dN .carousel-indicators li::after,
.cid-tCDkcQC7dN .carousel-indicators li::before {
  content: none;
}
.cid-tCDkcQC7dN .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tCDkcQC7dN .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tCDkcQC7dN .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tCDkcQC7dN .carousel-indicators {
    display: none;
  }
}
.cid-tCDkcQC7dN .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tCDkcQC7dN .carousel-inner > .active {
  display: block;
}
.cid-tCDkcQC7dN .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tCDkcQC7dN .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tCDkcQC7dN .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tCDkcQC7dN .carousel-control,
  .cid-tCDkcQC7dN .carousel-indicators,
  .cid-tCDkcQC7dN .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tCDkcQC7dN .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tCDkcQC7dN .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tCDkcQC7dN .carousel-indicators .active,
.cid-tCDkcQC7dN .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tCDkcQC7dN .carousel-indicators .active {
  background: #fff;
}
.cid-tCDkcQC7dN .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tCDkcQC7dN .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tCDkcQC7dN .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tCDkcQC7dN .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tCDkcQC7dN .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tCDkcQC7dN .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tCDkcQC7dN .carousel {
  width: 100%;
}
.cid-tCDkcQC7dN .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tCDkcQC7dN .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tCDkcQC7dN .modal.fade .modal-dialog,
.cid-tCDkcQC7dN .modal.in .modal-dialog {
  transform: none;
}
.cid-tCDkcQC7dN .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tCDkcQC7dN H6 {
  text-align: center;
  color: #000000;
}
.cid-tCDkcQC7dN H3 {
  color: #000000;
}
.cid-tCDkcQC7dN H4 {
  color: #000000;
}
.cid-tHJ88jzNZw {
  padding-top: 0rem;
  padding-bottom: 3rem;
  background-color: #fafafa;
}
.cid-tHJ88jzNZw .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ88jzNZw .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHJ88jzNZw .item {
  padding-bottom: 2rem;
}
.cid-tHJ88jzNZw .item-wrapper {
  position: relative;
}
.cid-tHJ88jzNZw .item-wrapper .icon-wrapper {
  pointer-events: none;
  position: absolute;
  width: 60px;
  height: 60px;
  font-size: 22px;
  left: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #ffffff;
  border-radius: 50%;
  opacity: 0;
  color: #ffffff;
  transform: translateX(-50%) translateY(-50%);
  background-color: #1b1b1b;
  transition: 0.2s;
}
.cid-tHJ88jzNZw .item-wrapper:hover .icon-wrapper {
  opacity: 0.7;
}
.cid-tHJ88jzNZw .carousel-control,
.cid-tHJ88jzNZw .close {
  background: #1b1b1b;
}
.cid-tHJ88jzNZw .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-tHJ88jzNZw .carousel-control-prev span {
  margin-right: 5px;
}
.cid-tHJ88jzNZw .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-tHJ88jzNZw .carousel-control-next span {
  margin-left: 5px;
}
.cid-tHJ88jzNZw .close {
  position: fixed;
  opacity: 0.5;
  font-size: 22px;
  font-weight: 300;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  border: 2px solid #fff;
  text-shadow: none;
  z-index: 5;
  transition: opacity 0.3s ease;
  font-family: 'Moririse2';
  align-items: center;
  justify-content: center;
  display: flex;
}
.cid-tHJ88jzNZw .close::before {
  content: '\e91a';
}
.cid-tHJ88jzNZw .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-tHJ88jzNZw .carousel-control {
  display: flex;
  top: 50%;
  width: 60px;
  height: 60px;
  margin-top: -1.5rem;
  font-size: 22px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  transition: all 0.3s;
}
.cid-tHJ88jzNZw .carousel-control.carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHJ88jzNZw .carousel-control.carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
@media (max-width: 767px) {
  .cid-tHJ88jzNZw .carousel-control {
    top: auto;
    bottom: 1rem;
  }
}
.cid-tHJ88jzNZw .carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-bottom: 3px;
}
.cid-tHJ88jzNZw .carousel-indicators li {
  max-width: 15px;
  height: 15px;
  width: 15px;
  max-height: 15px;
  margin: 3px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff;
  border-radius: 50%;
  opacity: 0.5;
  transition: all 0.3s;
}
.cid-tHJ88jzNZw .carousel-indicators li.active,
.cid-tHJ88jzNZw .carousel-indicators li:hover {
  opacity: 0.9;
}
.cid-tHJ88jzNZw .carousel-indicators li::after,
.cid-tHJ88jzNZw .carousel-indicators li::before {
  content: none;
}
.cid-tHJ88jzNZw .carousel-indicators.ie-fix {
  left: 50%;
  display: block;
  width: 60%;
  margin-left: -30%;
  text-align: center;
}
@media (max-width: 768px) {
  .cid-tHJ88jzNZw .carousel-indicators {
    display: none !important;
  }
}
@media (max-width: 991px) {
  .cid-tHJ88jzNZw .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-tHJ88jzNZw .carousel-indicators {
    display: none;
  }
}
.cid-tHJ88jzNZw .carousel-inner {
  display: flex;
  align-items: center;
}
.cid-tHJ88jzNZw .carousel-inner > .active {
  display: block;
}
.cid-tHJ88jzNZw .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-tHJ88jzNZw .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-tHJ88jzNZw .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-tHJ88jzNZw .carousel-control,
  .cid-tHJ88jzNZw .carousel-indicators,
  .cid-tHJ88jzNZw .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-tHJ88jzNZw .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-tHJ88jzNZw .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-tHJ88jzNZw .carousel-indicators .active,
.cid-tHJ88jzNZw .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #000000;
  opacity: 0.5;
  border: 4px solid #000000;
}
.cid-tHJ88jzNZw .carousel-indicators .active {
  background: #fff;
}
.cid-tHJ88jzNZw .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-tHJ88jzNZw .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-tHJ88jzNZw .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-tHJ88jzNZw .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-tHJ88jzNZw .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-tHJ88jzNZw .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-tHJ88jzNZw .carousel {
  width: 100%;
}
.cid-tHJ88jzNZw .modal-backdrop.in {
  opacity: 0.8;
}
.cid-tHJ88jzNZw .modal.fade .modal-dialog {
  transition: margin-top 0.3s ease-out;
}
.cid-tHJ88jzNZw .modal.fade .modal-dialog,
.cid-tHJ88jzNZw .modal.in .modal-dialog {
  transform: none;
}
.cid-tHJ88jzNZw .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-tHJ88jzNZw H6 {
  text-align: center;
  color: #000000;
}
.cid-tHJ88jzNZw H3 {
  color: #000000;
}
.cid-tHJ88jzNZw H4 {
  color: #000000;
}
.cid-tHJ8cPCcb0 {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #14cc66;
}
.cid-tHJ8cPCcb0 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ8cPCcb0 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCKEeG5Xyn {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fafafa;
}
.cid-tCKEeG5Xyn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCKEeG5Xyn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCKEeG5Xyn .video-wrapper iframe {
  width: 100%;
}
.cid-tCKEeG5Xyn .mbr-section-title,
.cid-tCKEeG5Xyn .mbr-section-subtitle,
.cid-tCKEeG5Xyn .mbr-text {
  text-align: center;
}
.cid-tCKEeG5Xyn .mbr-section-title {
  color: #000000;
}
.cid-tCKEeG5Xyn .mbr-section-subtitle {
  color: #000000;
}
.cid-tCKEeG5Xyn .mbr-text {
  color: #000000;
}
.cid-tHJ31niaBU {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tHJ31niaBU .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ31niaBU .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHJ31niaBU .video-wrapper iframe {
  width: 100%;
}
.cid-tHJ31niaBU .mbr-section-title,
.cid-tHJ31niaBU .mbr-section-subtitle,
.cid-tHJ31niaBU .mbr-text {
  text-align: center;
}
.cid-tHJ4gKKNGa {
  padding-top: 2rem;
  padding-bottom: 6rem;
  background-color: #ffffff;
}
.cid-tHJ4gKKNGa .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ4gKKNGa .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHJ4gKKNGa .video-wrapper iframe {
  width: 100%;
}
.cid-tHJ4gKKNGa .mbr-section-title,
.cid-tHJ4gKKNGa .mbr-section-subtitle,
.cid-tHJ4gKKNGa .mbr-text {
  text-align: center;
}
.cid-tHJ6iaKgGn {
  padding-top: 3rem;
  padding-bottom: 1rem;
  background-color: #000000;
}
.cid-tHJ6iaKgGn .mbr-fallback-image.disabled {
  display: none;
}
.cid-tHJ6iaKgGn .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tHJ6iaKgGn .mbr-section-title {
  color: #14cc66;
}
.cid-tHJ6iaKgGn .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tHJ54EPoqS {
  padding-top: 3rem;
  padding-bottom: 4rem;
  background-color: #ffffff;
}
.cid-tHJ54EPoqS .mbr-overlay {
  background-color: #ffffff;
  opacity: 0.4;
}
.cid-tHJ54EPoqS form .mbr-section-btn {
  text-align: center;
  width: 100%;
}
.cid-tHJ54EPoqS form .mbr-section-btn .btn {
  display: inline-flex;
}
@media (max-width: 991px) {
  .cid-tHJ54EPoqS form .mbr-section-btn .btn {
    width: 100%;
  }
}
.cid-tHJ54EPoqS .mbr-section-title {
  color: #000000;
}
.cid-tCKJo627Pr {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #ee0e0e;
}
.cid-tCKJo627Pr .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCKJo627Pr .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDnoegLLN {
  padding-top: 1rem;
  padding-bottom: 0rem;
  background-color: #14cc66;
}
.cid-tCDnoegLLN .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCDnoegLLN .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDn7WNcf5 {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #000000;
}
.cid-tCDn7WNcf5 .mbr-fallback-image.disabled {
  display: none;
}
.cid-tCDn7WNcf5 .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-tCDn7WNcf5 .media-wrap {
  padding: 0;
}
@media (max-width: 991px) {
  .cid-tCDn7WNcf5 .media-wrap {
    margin-bottom: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-tCDn7WNcf5 .row {
    text-align: center;
  }
  .cid-tCDn7WNcf5 .row > div {
    margin: auto;
  }
  .cid-tCDn7WNcf5 .social-row {
    justify-content: center;
  }
}
.cid-tCDn7WNcf5 .social-row {
  display: flex;
  flex-wrap: wrap;
}
.cid-tCDn7WNcf5 .list {
  list-style: none;
  padding-left: 0;
  color: #bbbbbb;
}
@media (max-width: 991px) {
  .cid-tCDn7WNcf5 .list {
    margin-bottom: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-tCDn7WNcf5 .list {
    margin-bottom: 0rem;
  }
}
.cid-tCDn7WNcf5 .mbr-text {
  color: #bbbbbb;
}
.cid-tCDn7WNcf5 .soc-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: white;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  height: 2.5rem;
  width: 2.5rem;
}
.cid-tCDn7WNcf5 .mbr-iconfont {
  color: black;
}
@media (max-width: 991px) {
  .cid-tCDn7WNcf5 div > *:last-child {
    margin-top: 0 !important;
  }
}
.cid-tCDn7WNcf5 H5 {
  color: #14cc66;
}
